#about {
    background: #111;
}
/* about Card */
.about-card {
    z-index: 1; 
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 20px 80px rgba(0,0,0,0.6);
}
.about-content {
    line-height: 2;
}

.about-text {
    font-size: 1.1rem;
    color: #ccc;
}