/* default page color and font*/
body {
    background-color: rgba(203, 228, 222, 0.976);
    font-family: 'Courier New', Courier, monospace;
}
/* header styles */
h1 {
    font-family: "Arial", sans-serif;
    color: darkblue;
    font-size: 36px;
    text-align: center;
}
h2 {
    color: rgb(69, 46, 35);
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
h3{
    color:rgb(166, 78, 47);
}
/* paragraph styles */
p {
    font-family:'Times New Roman', Times, serif;
    color: black;
}

#about {
    margin-top: 80px;
}
#about h2{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/*------------END NAVIGATION-------------*/

/*----------TABLE STYLES----------------*/
/*  PADDING VS MARGIN COMMENT **********************
    - padding allows the web designer to manipulate the space inside an element.
    this is the space between the content and the border
    for example: internal spacing of a box

    diagram:
    (border)
        (padding)
            (content)

    - margin allows the programmer to manipulate the space outside of an element, and outside the border
    this is external spacing and doesnt interact with the background of the element
   
    diagram:
    space (margin)
        [border + padding + content]
    space (margin)

****************************************/

/*----------END TABLE STYLES----------------*/

/*----------LINK STYLES---------------------*/
#style-links a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

#style-links a:link {
    color:#021737;
}

#style-links a:visited {
    color:#8b48fe;
}

#style-links a:hover {
    color:#ff0000;
    border-bottom: 1px solid;
}

#style-links a:focus {
    background:#16d42f;
}
/*----------END TABLE STYLES----------------*/

.footer {
    background-color: #161717;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
